<!DOCTYPE html>
<html>

<head>
	<title>Index</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/modal.css">
	<link rel="stylesheet" href="stylesheets/chat.css">

	<script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-helper.js"></script>
	<script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery.js"></script>
	<script type="text/javascript"
		src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery-fullscreen.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue-gallery@2.0.1/dist/js/vue-gallery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/blueimp-gallery@2.27.0/css/blueimp-gallery.min.css">

	<script type="text/javascript" src="/javascripts/socket.io.js"></script>

</head>

<body>
	<div id="app">
		<!--Navbar-->
		<nav class="light-blue lighten-1" role="navigation" v-show="estado >= 1">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Quimicol
					<small>Bem vindo <strong>{{usuario}}! {{estado}}</strong></small></a>
				<ul class="right hide-on-med-and-down">
					<li v-show="estado>=1" v-on:click="abrirChat"><a>Chat</a></li>
				</ul>

			</div>
		</nav>

		<!--conteudo-->
		<div>
			<!--mostrar tela entrar nome-->
			<div v-if="estado == 0" class="row" id="tela_nome">
				<br><br>
				<h1 class="header center orange-text">Bem vindo ao Quimicol</h1>
				<div class="row center">
					<h5 class="header col s12 light">Entre com seu nome para iniciar!</h5>
				</div>
				<div class="form">
					<div class="col s4 offset-s4">
						<div class="input-field">
							<input placeholder="Entre com seu nome" type="text" v-model='usuario' autofocus>
						</div>
					</div>
					<div class="input-field col s2">
						<a class="waves-effect orange btn" v-on:click="entrar">Entrar</a>
					</div>
				</div>
			</div>
			<!--Fim tela entrar nome-->

			<div class="row j-container">
				<!--Estado 1-->
				<div class="col s10 offset-s1" v-if="estado == 1">
					<div class="row">
						<h3 class="header left orange-text">Introdução <small>ÁLCOOIS</small></h3>
					</div>
					<div class="row">
						<div>
							<gallery :images="images" :index="index" @close="index = null"></gallery>
							<div class="image" v-for="image, imageIndex in images" @click="index = imageIndex"
								:style="{ backgroundImage: 'url(' + image + ')', width: '200px', height: '100px' }">
							</div>
						</div>
					</div>

				</div>
				<!--Fim do estado 1-->

				<!--Estado 2-->
				<div class="col s10 offset-s1" v-else-if="estado == 2">
					<div class="row">
						<div class="row">
							<h3 class="header left orange-text">Introdução <small>Alimentos</small></h3>
						</div>
						<!--
							<div class="col s4 image2" v-for="img2, img2Index in compostosAlimento">
							<div class="card-panel z-depth-1">
								<div class="row valign-wrapper">
									<div class="col s6">
										<img v-bind:src="img2.img" alt="" class="responsive-img" style="height: 100px;">
										
									</div>
									<div class="col s6">
										<span class="black-text">
											{{img2.texto}}
										</span>
									</div>
								</div>
							</div>
						</div>-->
						<div style="display: flex; flex-wrap: wrap; overflow-y: scroll; height: 450px; width: 100%;">
							<div class="polaroid" v-for="img2, img2Index in compostosAlimento">
								<img v-bind:src="img2.img" alt="5 Terre" style="width:200px; height: 100px;">
								<div class="container2">
									<p>{{img2.texto}}</p>
								</div>
							</div>
						</div>


					</div>
				</div>
				<!--Fim do estado 2-->

				<!--Estado 3-->
				<div class="col s10 offset-s1" v-else-if="estado == 3">
					<div class="row">
						<div class="row">
							<h3 class="header left orange-text">Introdução <small>Alimentos</small></h3>
						</div>
						<div class="col s10 offset-s1">
							<img src="images/tela3.png" class="responsive-img">
						</div>
					</div>
				</div>
				<!--Fim do estado 3-->

				<!--Estado 4-->
				<div class="col s10 offset-s1" v-if="estado == 4">
					<div class="row">
						<h3 class="header left orange-text">Introdução <small>Alimentos</small></h3>
					</div>
					<div class="row">
						<h6>Selecione os compostos que são ÁLCOOIS</h6>
					</div>
					<div class="row" style="display: flex; flex-wrap: wrap;">
						<div class="" v-for="comp, index in compostosAlimento" style="margin: 10px;">
							<div class="img-select"
								v-bind:class="{imgSelectTrue : comp.resp, imgAcertou: comp.verificado }"
								v-on:click="selecionarAlimento(index)">
								<img class="img-composto" v-bind:src="comp.img">

							</div>
						</div>
					</div>
					<div class="row">
						<button class="btn waves-effect waves-light light-green accent-4"
							v-on:click='verificar'>Verificar</button>
						<button class="btn waves-effect waves-light red" v-on:click="abrirModalAjuda1">Ajuda</button>
						<button class="btn waves-effect waves-light red"
							v-on:click="abrirModalAjuda2">Prioridade</button>

					</div>


				</div>
				<!--Fim do estado 4-->

				<div class="row" v-show="estado > 0" style="position: fixed; bottom: 60px; right: 0;">
					<div class="col s6">
						<a class="waves-effect waves-light btn blue lighten-4" v-on:click="voltar">Voltar</a>
					</div>
					<div class="col s6">
						<a class="waves-effect waves-light btn blue" v-on:click="seguir">Seguir</a>
					</div>
				</div>

			</div>



		</div>

		<!--Rodape
		<div class="j-footer">
			<div class="page-footer orange">
				<div class="footer-copyright">
					<div class="container">
						Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Next-Develops</a>
					</div>
				</div>
			</div>
		</div>-->

		<!-- The Modal -->
		<div id="myModal" class="modal" v-bind:style="{display: estadoModal1}">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" v-on:click="fecharModalAjuda1">&times;</span>
					<h5>Procedimento para se identificar um álcool</h5>
				</div>
				<div class="modal-body">
					<ul class="collection center-align">
						<li class="collection-item">PRESENÇA DE PELO MENOS UM GRUPO HIDROXILA - OH</li>
						<li class="collection-item">O GRUPO DEVE ESTA LIGADO A UM CARBONO SATURADO</li>
						<li class="collection-item">SER O GRUPO FUNCIONAL PRIORITÁRIO DA MOLECULA</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- The Modal Grupos Funcionais-Prioridade -->
		<div id="myModal2" class="modal" v-bind:style="{display: estadoModal2}">

			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" v-on:click="fecharModalAjuda2">&times;</span>
					<h5>COMO IDENTIFICAR UM ÁLCOOl <small>Grupos Funcionais-Prioridade</small></h5>
				</div>
				<div class="modal-body">
					<img class="responsive-img" src="/images/prioridade.jpg">
				</div>
			</div>
		</div>

		<!--Chat-->
		<div class="chat-popup" id="chat" v-bind:style="{display: ativoChat}">
			<div class="form-container">
				<h3>Chat</h3>
				<label for="msg"><b>Messagens</b></label>
				<div class="c-container2" id="containerChat">
					<div class="c-container darker" v-for="msg in chatlogs">
						<p><Strong>{{msg.usuario}}</Strong></p>
						<div>{{msg.msg}}</div>
						<span class="time-right">{{msg.hora}}</span>
					</div>
				</div>

				<label for="msg"><b>Message</b></label>
				<textarea placeholder="Type message.." name="msg" required v-model="novaMsg"></textarea>

				<button class="btn" v-on:click="enviar">Enviar</button>
				<button type="button" class="btn cancel" v-on:click="fecharChat">Fechar</button>
			</div>
		</div>

	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		M.AutoInit();

		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems);
		});
	</script>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<script type="text/javascript">
	var socket = io();	
	socket.on('connect', () => {
		console.log("Estou conectado meu id é: " + socket.id); // an alphanumeric id...
	});
	var app = new Vue({
		el: '#app',
		data: {
			drawer: null,
			estado: 0,
			usuario: '',
			idUsuario: 0,
			novaMsg: "",
			chatlogs: [{ idUsuario: 0, usuario: "jeremias", msg: "oi isso é um teste", hora: "12:00:00" },
			{ idUsuario: 1, usuario: "jeremias", msg: "oi isso é um teste", hora: "12:00:00" },
			],
			images: [
				'images/boa/1.jpg',
				'images/boa/2.jpg',
				'images/boa/3.jpg',
				'images/boa/4.jpg',
				'images/boa/5.jpg',
				'images/boa/6.jpg',
				'images/boa/7.jpg',
				'images/boa/8.jpg',
				'images/boa/9.jpg',
				'images/boa/10.jpg',
				'images/boa/11.jpg',
				'images/boa/12.jpg',
				'images/boa/13.jpg'
			],
			compostosAlimento: [
				{ img: "images/compostos/3-sulfanilhexanol.png", texto: "3-sulfanilhexanol", isAlcool: true, resp: false, verificado: false },
				{ img: "images/compostos/3-sulfanilpropionato_de_etila.png", texto: "3-sulfanilpropionato de etila", isAlcool: false, resp: false, verificado: false },
				{ img: "images/compostos/4-tiapentan-1-ol.png", texto: "4-tiapentan-1-ol", isAlcool: true, resp: false, verificado: false },
				{ img: "images/compostos/acido_tartarico.png", texto: "Ácido tartarico", isAlcool: false, resp: false, verificado: false },
				{ img: "images/compostos/colesterol.png", texto: "Colesterol", isAlcool: true, resp: false, verificado: false },
				{ img: "images/compostos/mentol.png", texto: "Mentol", isAlcool: true, resp: false, verificado: false },
				{ img: "images/compostos/metional.png", texto: "Metional", isAlcool: false, resp: false, verificado: false },
				{ img: "images/compostos/resveratrol.png", texto: "Resveratrol", isAlcool: false, resp: false, verificado: false },
				{ img: "images/compostos/sorbitol.png", texto: "Sorbitol", isAlcool: true, resp: false, verificado: false },
				{ img: "images/compostos/timol.png", texto: "Timol", isAlcool: false, resp: false, verificado: false },
			],
			index: null,
			estadoModal1: "none",
			estadoModal2: "none",
			ativoChat: "none",

		},
		created() {
			socket.on('chat-message', (data) => {
				this.chatlogs.push(data)
				this.autoScrollBottomChat();
			});
			
		},
		methods: {
			entrar: function () {
				if (this.usuario != "") {
					this.estado = 1
				}
			},
			abrirChat: function () {
				this.autoScrollBottomChat()
				if (this.ativoChat == "none") {
					this.ativoChat = "block"
				} else {
					this.ativoChat = "none"
				}

			},
			fecharChat: function () {
				this.ativoChat = "none"
			},
			seguir: function () {
				this.estado = this.estado + 1
			},
			voltar: function () {
				if (this.estado > 1) {
					this.estado = this.estado - 1
				}
			},
			selecionarAlimento: function (index) {
				this.compostosAlimento[index].resp = !this.compostosAlimento[index].resp
			},
			verificar: function () {
				for (i = 0; i < this.compostosAlimento.length; i++) {
					if (this.compostosAlimento[i].resp == true && this.compostosAlimento[i].isAlcool == true) {
						this.compostosAlimento[i].verificado = true
					}
				}
			},
			abrirModalAjuda1: function () {
				this.estadoModal1 = "block"
			},
			fecharModalAjuda1: function () {
				this.estadoModal1 = "none"
			},
			abrirModalAjuda2: function () {
				this.estadoModal2 = "block"
			},
			fecharModalAjuda2: function () {
				this.estadoModal2 = "none"
			},
			autoScrollBottomChat: function () {
				var container = this.$el.querySelector("#containerChat");
				container.scrollTop = container.scrollHeight;
			},
			enviar: function () {
				socket.emit('chat-message', {
                    msg: this.novaMsg,
					usuario: this.usuario,
					idUsuario: this.idUsuario,
					hora: "12:00:00"
				});
				this.novaMsg=""
				//this.chatlogs.push({ idUsuario: this.idUsuario, usuario: this.usuario, msg: this.novaMsg, hora: "13:00:00" })
				this.autoScrollBottomChat();
			},			

		},
		components: {
			'gallery': VueGallery,
		}
	})


</script>

</html>