.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
  .image2 {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
        
  }

  
  